extends default
  
  
block content

  form(action='/', method="POST")
    label#icon(for='name')
      i.fa.fa-link
    input#name(type='text' name='url' placeholder='https://www.example.com' required)
    hr
    .btn-block
      button(type='submit') Submit
    
    if(shorturl)
      hr
      h2 Short Url: #{ shorturl }